@import url(https://fonts.googleapis.com/css?family=Inconsolata);

body {
  height: 100vh;
 font-family: 'Inconsolata', monospace;
 display: flex;
 flex-direction: column;
 justify-content: space-between;
}

h2 {
  margin-top: -1%;
}
h1, h2 {
  display: block;
}

.stuff{

  vertical-align: middle;
}

/*footer {
  display: block;
  /*margin: 0 auto;*/
  /*bottom: 0px;
  height: 20px;
  background-color: blue;
  border-radius: 12px;
  color: white;
  opacity: .5;
  box-shadow: 5px 5px 5px #D6DBDF;
}*/

#cursor {
  margin-bottom: 3%;
  font-size: 30px;
}

.about {
  display: block;
  background-color: blue;
  color: white;
  text-align: right;
  border-radius: 12px;
  display: block;
  height: 10px;
  background-color: blue;
  border-radius: 12px;
  color: white;
  opacity: .5;
  box-shadow: 5px 5px 5px #D6DBDF;
  margin-top: -1%;

}

.title {
  align-items: center;
}

img {
  border-radius: 10px;
  height: 230px;
  /*float: left;*/
  margin: 0 auto;
  box-shadow: 5px 5px 5px #D6DBDF;

}

span p {
  width: 60%;
  text-align: center;
  margin: 0 auto;
  margin-top: 2%;
}

img:hover {
  border: 5px dotted green;
}

.container {
  width: 80%;
  margin: auto;
  /*margin-bottom: 50%;
  margin-left: 5%;*/
  box-shadow: 5px 5px 5px #D6DBDF;
  padding: 2%;
  border-radius: 10px;
  border: 2px solid #D6DBDF;
  margin-bottom: 2%;
  margin-top: 1%;

}

h3 {
  text-align: center;
  margin: 0 auto;
  margin-bottom: 2%;
}

.main {
  margin: 0 auto;
  display: flex;
  flex-direction: row;
  /*flex-grow: 1;*/
  /*margin-top: 15%;*/
  /*margin-left: auto;*/
  flex-wrap: wrap;
}
