@import url(https://fonts.googleapis.com/css?family=Inconsolata);

body {
  height: 100vh;
 font-family: 'Inconsolata', monospace;
 display: flex;
 flex-direction: column;
 justify-content: space-between;
}

h2 {
  margin-top: -1%;
}
h1, h2 {
  display: block;
}

.stuff{

  vertical-align: middle;
}

/*footer {
  display: block;
  /*margin: 0 auto;*/
  /*bottom: 0px;
  height: 20px;
  background-color: blue;
  border-radius: 12px;
  color: white;
  opacity: .5;
  box-shadow: 5px 5px 5px #D6DBDF;
}*/

#cursor {
  margin-bottom: 3%;
  font-size: 24px;
}

.about {
  display: block;
  background-color: blue;
  color: white;
  text-align: right;
  border-radius: 12px;
  display: block;
  height: 10px;
  background-color: blue;
  border-radius: 12px;
  color: white;
  opacity: .5;
  box-shadow: 5px 5px 5px #D6DBDF;
  margin-top: -1%;

}

.title {
  align-items: center;
}

img {
  border-radius: 10px;
  height: 250px;
  float: left;
  margin-right: 5%;
  box-shadow: 5px 5px 5px #D6DBDF;

}

img:hover {
  border: 5px dotted green;
}


main {
  display: flex;
  flex-direction: row;
  flex-grow: 1;
  margin-top: 10%;
  margin-left: 6%;
  flex-wrap: wrap;
}
